*{
  font-family: "Single Day", cursive
}

.outline{
  display: flex; align-items: center; height: 90vh; flex-direction: column; margin-top: 50px;
  /*justify-content: center;*/
}

.container{
  max-width: 960px;
  width: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff3f6;
}

.mainTitleStyle{
  font-weight: bold; color:#f2aabc; font-size:42px;
  text-align: center;
  background-image: url('https://blog.kakaocdn.net/dn/bGWjD9/btsGl2hMKqR/lvKFuw383f7lBhrrUVegY0/img.gif'); background-repeat: repeat;
  margin: auto;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-area{ background:#ffd9e5; height:50px; text-align: center;
  display: flex;
  justify-content: center;
}
.menu{display: table-cell; width: 250px; height: 50px;
		vertical-align:middle; font-size:26px; font-weight:500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:white;
  }
.menu:hover{background:#ffccdc; cursor:pointer;}